@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="img/a.jpg" alt="Se fue" />
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://www.w3schools.com/">building Web apps more formal style </a>.</p>
</div>
